@charset "utf-8";
@use '../variables' as var;
@use '../mixins' as mx;

.edit-task {
  @include mx.main-content-width;
  margin: 0 auto;
}

.edit-task-form {
  color: var.$gray;
}

.edit-task-title,
.edit-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.delete-task-button {
  color: var.$red;
  border: solid 1px var.$red;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-task-button {
  background-color: var.$blue;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: var.$red;
}
