@charset "utf-8";
@use '../variables';

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: variables.$gray;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: variables.$red;
  border: solid 1px variables.$red;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: variables.$blue;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: variables.$red;
}
