@charset "utf-8";
@use '../variables' as var;
@use '../mixins' as mx;

.edit-list {
  @include mx.main-content-width;
}

.edit-list-form {
  color: var.$gray;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: var.$red;
  border: solid 1px var.$red;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: var.$blue;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: var.$red;
}
