@charset "utf-8";
@use "../variables" as var;
@use "../mixins" as mx;

.new-list {
  @include mx.main-content-width;
  margin: 0 auto;
}

.new-list-form {
  color: var.$gray;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: var.$blue;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
