@charset "utf-8";
@use '../variables';

.signin {
  width: 500px;
  margin: 0 auto;
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: variables.$gray;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  background-color: variables.$blue;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: variables.$red;
}
