@charset "utf-8";
@use "../variables" as var;
@use "../mixins" as mx;

.signin {
  @include mx.sign-content-width;
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: var.$gray;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.signin-button {
  background-color: var.$blue;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: var.$red;
}
