@charset "utf-8";
@use '../variables';

.header {
  width: 100%;
  height: 80px;
  background-color: variables.$blue;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.sign-out-button {
  color: #ffffff;
  margin: auto 25px auto auto;
}
